@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Oswald);
 *{
	box-sizing:border-box;
	margin: 0;
	padding: 0;
}
.bloque{
	width: 100%;
	padding:0 7%;
}
a{
	text-align: center;
	width:220px;
	height:320px;
	color:#828282;
	background-color:#FBFBFB;
	border:1px #828282 solid;
	display: inline-block;
	float:left;
	margin:1px;
	padding: 20px;
	text-decoration: none;
	font-family:"Oswald";
}
h4{
	color:#949494;
}
a:hover{
		width:300px,
		height:400px;
		color:#A7B9DA;
		background-color:white;
		font-family:"Montserrat";
		-moz-transform: scale(1.1);
		-webkit-transform: scale(1.1);
		-o-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1)
}